# course material
coursefiles/

# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/
*.parquet

# Secrets
.env

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
